.customInput {
	box-sizing: border-box;
	text-align: start;
	font-size: 16px;
	margin-bottom: 5px;
}

.lable {
	display: inline-block;
	line-height: 18.6px;
	font-size: 12px;
	font-weight: 500;
}

.description {
	display: block;
	font-size: 10px;
	line-height: 12px;
}

.inputField {
	display: block;
	background-color: rgb(255, 255, 255);
	height: 30px;
	min-height: 30px;
	padding: 0 10px;
	width: 340px;
	font-size: 12px;
	font-stretch: 100%;
	font-weight: 400;
	line-height: 28px;
	border: 2px solid rgb(206, 212, 218);
}

.inputField:focus {
	border: 2px solid dodgerblue;
	outline: none;
}

.inputField:disabled {
	color: gray;
	background: rgb(248, 216, 216);
	border-color: rgb(248, 216, 216);
	box-shadow: none;
	cursor: not-allowed;
}

.error {
	display: block;
	width: 340px;
	font-size: 12px;
	line-height: 14.4px;
	color: rgb(250, 82, 82);
}

::placeholder {
	color: rgb(206, 212, 218);
}
